@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

textarea {
  border: 1px solid $color-input;
  background-color: $color-input-bg;
  border-radius: 4px;
  resize: none;
  font-family: "Avenir Next", Helvetica, sans-serif;
}

.form {
  @include flex;
  gap: 1rem;

  @include responsive-property(padding-bottom, $padding-m, $padding-t);

  @include desktop {
    padding-right: 1.5rem;
  }

  &__avatar {
    @include flex;
    padding-top: 1rem;
    @include desktop {
      align-items: end;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__body {
    flex-basis: 100%;
    @include flex();
    gap: 1rem;
    @include responsive-property(flex-direction, column, row);
    @include tablet {
      align-items: end;
    }
  }

  &__label {
    color: $color-avatar;
    text-transform: uppercase;
  }
  &__input {
    flex-basis: 100%;
  }

  &__textarea {
    width: 100%;
    @include responsive-property(padding, 1rem, 0.5rem);
    @include responsive-property(height, 6rem, 2.5rem);
  }

  &__button {
    @include tablet {
      margin-bottom: 0.5rem;
      width: 9.375rem;
    }
  }
}
