@use "typography" as *;
@use "variables" as *;
@use "mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", Helvetica, sans-serif;
  color: $color-text;
  background: $color-bg;
  @include responsive-font(13px, 18px, 400, 14px, 22px, 400);
}

h1 {
  @include responsive-font(24px, 32px, 700, 33px, 44px, 700);
}

h2 {
  @include responsive-font(13px, 18px, 700, 14px, 22px, 700);
}

h3 {
  @include responsive-font(12px, 20px, 700, 12px, 20px, 700);
}

h1,
h2,
h3 {
  @include responsive-property(padding-top, 16px, 24px, 36px);
  @include responsive-property(padding-bottom, 8px, 16px, 24px);
}

label,
button {
  @include responsive-font(10px, 20px, 600, 12px, 20px, 600);
}

button {
  border: none;
  font-family: "Avenir Next", Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

input {
  @include inputStyles;
  width: 100%;

  @include responsive-property(padding, 12px, 16px);
  @include responsive-property(padding-left, 2rem, 2rem);

  &::placeholder {
    text-transform: capitalize;
  }
}

textarea {
  resize: none;
  @include inputStyles;
}

ul,
li {
  list-style: none;
}
