@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  @include flex;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 0.0625rem solid $color-avatar;

  @include responsive-property(padding, $padding-m 0, $padding-t 0);

  @include desktop {
    padding-right: 1.5rem;
  }

  &:last-of-type {
    border-bottom: 0.0625rem solid $color-avatar;
    @include desktop {
      border-bottom: none;
    }
  }

  &__avatar {
    @include desktop {
      padding: 0 1rem;
    }
  }
  &__body {
    flex-basis: 100%;
    @include flex();
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  &__name {
    font-weight: 700;
  }
  &__timestamp {
    color: $color-avatar;
  }
  &__text {
    flex-basis: 100%;
  }
  &__delete {
    margin-left: calc(100% - 1rem);
  }
}
