@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

ul,
li {
  list-style: none;
}
.next-videos {
  flex-basis: 320px;
  flex-shrink: 0;

  @include desktop {
    border-left: 1px solid $color-avatar;
    padding-left: 1.5rem;
  }

  &__title {
    color: $color-avatar;
    @include responsive-property(
      padding,
      $padding-m 0,
      $padding-t 0,
      $padding-d 0 $padding-m 0
    );
  }
  &__list {
    @include flex(column);
    @include responsive-property(gap, 1rem, 1.5rem);
  }
  &__item {
    @include flex;
    gap: 1rem;
  }

  &__text {
    @include flex(column);
    justify-content: space-between;
  }
  &__img {
    border-radius: 4px;
    @include responsive-property(width, 100px, 110px);
  }
}
