@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.next-videos {
  @include responsive-property(flex-basis, 100%, 100%, 21rem);
  &__wrapper {
    width: 21rem;

    @include desktop {
      border-left: 0.0625rem solid $color-avatar;
      padding-left: 1.5rem;
    }

    @include responsive-property(padding-bottom, 2.25rem, 2.25rem, 4rem);
  }

  &__title {
    color: $color-text-secondary;
    @include responsive-property(
      padding,
      $padding-m 0,
      $padding-t 0,
      $padding-d 0 $padding-m 0
    );
  }
  &__list {
    @include flex(column);
    @include responsive-property(gap, 1rem, 1.5rem);
  }

  &__link {
    color: $color-text;
  }
  &__item {
    @include flex;
    gap: 1rem;
    cursor: pointer;
  }

  &__text {
    @include flex(column);
    justify-content: space-between;
  }
  &__img {
    border-radius: 0.25rem;
    @include responsive-property(width, 6.25rem, 6.875rem);
  }
}
