@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.upload {
  &__form {
    @include flex;
    flex-wrap: wrap;
    @include responsive-property(gap, 1rem, 1.5rem);
    @include responsive-property(border-top, none, 1px solid $color-divider);
    @include responsive-property(padding-top, none, 32px);
  }

  &__thumbnail {
    @include responsive-property(flex-basis, 100%, 50%, 26%);
  }

  &__image {
    width: 100%;
    border-radius: 4px;
  }

  &__data {
    @include responsive-property(flex-basis, 100%, 100%, calc(74% - 1.5rem));
  }

  &__input {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  &__textarea {
    width: 100%;
    height: 88px;
    padding: 1rem;
  }

  &__cta {
    flex-basis: 100%;
    @include flex;
    @include responsive-property(flex-direction, column, row);
    @include responsive-property(border-top, none, 1px solid $color-divider);
    @include tablet {
      justify-content: flex-end;
      padding-top: 24px;
    }
  }

  &__button {
    @include responsive-property(display, none, block);
    @include cta;
    background: $color-bg;
    color: $color-cta;

    &--second {
      @include responsive-property(display, block, none);
    }
  }
}
